{% include 'navbar.html'  %}




 <style>
      table.document-list tbody {
         display: block;
         height: 210px;
         overflow: auto;
      }

      table.document-list thead,
      tbody tr {
         display: table;
         width: 100%;
         table-layout: fixed;
      }
   </style>
   <div class="container">
      <div class="row justify-content-center align-items-center mt-5">
         <div class="col-md-8">
            <div class="card border-dark">
               <div class="card-hearder bg-dark text-center text-white py-2">
                  <h5 class="mb-0">DOCUMENT LIST</h5>
               </div>
               <div class="card-body">
                  
               </div>
               <div class="card-footer d-flex justify-content-end">
                  <button type="button" class="btn btn-danger btn-sm mx-3">CANCEL</button>
                  <button type="button" class="btn btn-success btn-sm ">SUBMIT</button>
               </div>
               <div class="p-3">
                  <table class="document-list table table-striped">
                     <thead class="bg-dark text-white">
                        <tr>
                           <th scope="col" width="150px">User first name</th>
                           <th scope="col" width="150px">User last name </th>
                           <th scope="col" width="150px">Email</th>
                        </tr>
                        <form method="post" action="" role="form">
                            <div class="controls">
                               <div class="row">
                                  <div class="col-md-6">
                                     <div class="form-group mb-2">
                                        <div class="input-group">
                                           <input type="text" class="form-control form-control-sm" placeholder="Search here" aria-label="Input group example" aria-describedby="btnGroupAddon">
                                            <div class="input-group-prepend">
                                              <div class="input-group-text" id="btnGroupAddon">
                                                 <i class="fa fa-search"></i>
                                              </div>
                                            </div>
                                           
                                          </div>
                                        
                                     </div>
                                  </div>
       
                               </div>
                             
                               
                                  
                               </div>
                            </div>
                         </form>
                     </thead>
                     <tbody>
                            <tr >
                                <td scope="col" width="150px">1</td>
                                <td scope="col" width="150px">lorem ipsum</td>
                                <td scope="col" width="150px">test@test.com  </td>
                            </tr>  
                            <tr >
                                <td scope="col" width="150px">2</td>
                                <td scope="col" width="150px">lorem ipsum</td>
                                <td scope="col" width="150px">test@test.com  </td>
                            </tr>  
                            <tr >
                                <td scope="col" width="150px">3</td>
                                <td scope="col" width="150px">lorem ipsum</td>
                                <td scope="col" width="150px">test@test.com  </td>
                            </tr>  
                            <tr >
                                <td scope="col" width="150px">4</td>
                                <td scope="col" width="150px">lorem ipsum</td>
                                <td scope="col" width="150px">test@test.com  </td>
                            </tr>  
                            <tr >
                                <td scope="col" width="150px">5</td>
                                <td scope="col" width="150px">lorem ipsum</td>
                                <td scope="col" width="150px">test@test.com  </td>
                            </tr>  
                            <tr >
                                <td scope="col" width="150px">6</td>
                                <td scope="col" width="150px">lorem ipsum</td>
                                <td scope="col" width="150px">test@test.com  </td>
                            </tr>   
                            <tr >
                                <td scope="col" width="150px">7</td>
                                <td scope="col" width="150px">lorem ipsum</td>
                                <td scope="col" width="150px">test@test.com  </td>
                            </tr>  
                            <tr >
                                <td scope="col" width="150px">1</td>
                                <td scope="col" width="150px">lorem ipsum</td>
                                <td scope="col" width="150px">test@test.com  </td>
                            </tr>  
                            <tr >
                                <td scope="col" width="150px">1</td>
                                <td scope="col" width="150px">lorem ipsum</td>
                                <td scope="col" width="150px">test@test.com  </td>
                            </tr>  
                            <tr >
                                <td scope="col" width="150px">1</td>
                                <td scope="col" width="150px">lorem ipsum</td>
                                <td scope="col" width="150px">test@test.com  </td>
                            </tr>  
                            <tr >
                                <td scope="col" width="150px">1</td>
                                <td scope="col" width="150px">lorem ipsum</td>
                                <td scope="col" width="150px">test@test.com  </td>
                            </tr>  
                            <tr >
                                <td scope="col" width="150px">1</td>
                                <td scope="col" width="150px">lorem ipsum</td>
                                <td scope="col" width="150px">test@test.com  </td>
                            </tr>  
                            <tr >
                                <td scope="col" width="150px">1</td>
                                <td scope="col" width="150px">lorem ipsum</td>
                                <td scope="col" width="150px">test@test.com  </td>
                            </tr>  

                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>